.login_wrapper {
    .form_wapper {
        width: 600px;
        height: 400px;
        margin: 0 auto;
        margin-top: 200px;
        background-color: #eee;
        border-radius: 20px;
    }
}